In [1]:
import numpy as np
import pandas as pd

from utils import *

path_data = '/Users/dariozappala/Library/CloudStorage/Dropbox/università/RTD-A/progetti/dati/Crunchbase/'
path_images = './immagini/'

# Acquisitions

In [9]:
df_acquisitions = pd.read_csv(path_data + 'acquisitions.csv')
df_acquisitions = df_acquisitions[['acquired_on', 'type', 'acquisition_type', 'acquiree_uuid', 'acquirer_uuid', 'price_usd', 'price', 'price_currency_code']]
df_acquisitions

,acquired_on,type,acquisition_type,acquiree_uuid,acquirer_uuid,price_usd,price,price_currency_code
0,2007-05-30,acquisition,NaN,180ebf67-68d0-2316-e93d-8e1e546330ba,d70777cc-14bd-2416-0692-5a483781b78b,NaN,NaN,NaN
1,2007-07-01,acquisition,NaN,5b05e013-a448-3a0b-d872-a6ae668e1192,6acfa7da-1dbd-936e-d985-cf07a1b27711,60000000.0,60000000.0,USD
2,2007-05-01,acquisition,NaN,8249dffa-1ca6-6f99-9f76-d56c83f85f2d,f09c1228-2e7d-1889-6647-ba5021b2e4ea,280000000.0,280000000.0,USD
3,2007-05-23,acquisition,acquisition,10dd03fa-69ff-3a82-6321-c6b16c9a9f41,6acfa7da-1dbd-936e-d985-cf07a1b27711,100000000.0,100000000.0,USD
4,2007-07-01,acquisition,NaN,0af10345-613d-e144-f8bd-b62e288985a0,b5a96cd7-044d-70f0-04c5-f125e57a4b35,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
154333,2021-03-31,acquisition,acquisition,8e45af48-0ef5-49af-9e37-4d3dbdbc83b8,f7665d90-8128-2f56-3136-e1842867c6d2,NaN,NaN,NaN
154334,2018-06-26,acquisition,acquisition,05b2069f-0712-49ce-a304-ad7516c6e4ec,f7665d90-8128-2f56-3136-e1842867c6d2,NaN,NaN,NaN
154335,2023-07-10,acquisition,acquisition,1ecb0284-6bf6-4c9a-8c03-936de260dcd5,2cbc5190-9fa6-4cef-9419-e1fb0cfc011a,NaN,NaN,NaN
154336,2023-09-01,acquisition,merge,cb7cba2c-f4b9-490c-b622-a82c0b1ec835,633d376f-67c4-4bc1-8ed4-78c95e5e0e99,NaN,NaN,NaN
154337,2023-09-07,acquisition,acquisition,76187038-6fac-48cb-8bbb-4d5d47f31281,d7ea2f8c-f3e3-4042-9598-6c7783619764,NaN,NaN,NaN

In [30]:
df_acquisitions.loc[1, 'acquired_on']

'2007-07-01'

In [21]:
df_acquisitions.dtypes

acquired_on             object
type                    object
acquisition_type        object
acquiree_uuid           object
acquirer_uuid           object
price_usd              float64
price                  float64
price_currency_code     object
dtype: object

In [10]:
df_acquisitions['type'].value_counts(dropna = False)

type
acquisition    154338
Name: count, dtype: int64

In [11]:
df_acquisitions['acquisition_type'].value_counts(dropna = False)

acquisition_type
acquisition          125360
lbo                   12276
NaN                   11167
merge                  3030
management_buyout      1959
acquihire               546
Name: count, dtype: int64

In [12]:
(
    df_acquisitions
    .assign(count = 1)
    .groupby([~df_acquisitions['price_currency_code'].isna(), ~df_acquisitions['price'].isna(), ~df_acquisitions['price_usd'].isna()])
    [['count']].count()
)

                                      count
price_currency_code price price_usd
False               False False      128642
True                True  True        25696

In [13]:
df_acquisitions = df_acquisitions.loc[~df_acquisitions['price_usd'].isna()]
df_acquisitions.shape

(25696, 8)

# IPOs

In [17]:
df_ipos = pd.read_csv(path_data + 'ipos.csv')
df_ipos = df_ipos[['went_public_on', 'type', 'org_uuid', 'valuation_price_usd', 'valuation_price', 'valuation_price_currency_code', 'money_raised_usd']]
df_ipos

,went_public_on,type,org_uuid,valuation_price_usd,valuation_price,valuation_price_currency_code,money_raised_usd
0,1986-03-13,ipo,fd80725f-53fc-7009-9878-aeecf1e9ffbb,NaN,NaN,NaN,NaN
1,1978-01-13,ipo,756936c0-c335-f0ae-0a3d-fe26bdff5695,NaN,NaN,NaN,300000000.0
2,2006-10-22,ipo,73296f0d-85a5-78d5-90b3-86c5f8981ba9,1.600000e+08,1.600000e+08,USD,145000000.0
3,1999-12-02,ipo,ff8439cf-097c-a88a-9bb9-dd83d23aa14b,NaN,NaN,NaN,35000000.0
4,1988-08-12,ipo,ab8e5ba4-df5d-121b-93b6-eae7a0c89245,6.000000e+09,6.000000e+09,USD,NaN
...,...,...,...,...,...,...,...
49422,2023-09-08,ipo,b8e1f56b-49b0-4272-87f1-60e90d51e76b,NaN,NaN,NaN,NaN
49423,2023-09-08,ipo,f38dd25a-995d-361f-6754-1e420d3460b9,1.000000e+08,1.000000e+08,USD,NaN
49424,1996-10-28,ipo,8c18c487-e747-4df1-82cf-1c5bb1c9fe96,NaN,NaN,NaN,NaN
49425,2022-08-26,ipo,57879f0f-5cde-44a1-98a7-9ef249c23a46,NaN,NaN,NaN,NaN
49426,2023-01-01,ipo,2e481d47-e4f2-4df3-9d33-c02f2a77d726,6.940000e+05,6.940000e+05,USD,250000.0

In [31]:
df_ipos.loc[1, 'went_public_on']

'1978-01-13'

In [22]:
df_ipos.dtypes

went_public_on                    object
type                              object
org_uuid                          object
valuation_price_usd              float64
valuation_price                  float64
valuation_price_currency_code     object
money_raised_usd                 float64
dtype: object

In [18]:
df_ipos['type'].value_counts(dropna = False)

type
ipo    49427
Name: count, dtype: int64

In [19]:
(
    df_ipos
    .assign(count = 1)
    .groupby([~df_ipos['valuation_price_currency_code'].isna(), ~df_ipos['valuation_price'].isna(), ~df_ipos['valuation_price_usd'].isna()])
    [['count']].count()
)

                                                                   count
valuation_price_currency_code valuation_price valuation_price_usd
False                         False           False                45903
True                          True            True                  3524

In [20]:
(
    df_ipos
    .assign(count = 1)
    .groupby([~df_ipos['valuation_price_usd'].isna(), ~df_ipos['money_raised_usd'].isna()])
    [['count']].count()
)

                                      count
valuation_price_usd money_raised_usd
False               False             42354
                    True               3549
True                False               281
                    True               3243